$brand-yellow: #FCB823;
$brand-green: #8DC53E;
$brand-blue: #00A3E3;
$brand-blue-hover: #0088C6;
$brand-orange: #D0592C;
$brand-gray: #BDBDBD;
$brand-almost-black: #1A1A1A;
$brand-black: #000000;
$brand-shadow: #313131;
$brand-red: #B20000;